[submodule "Examples/PDTwitterTest/AFNetworking"]
	path = Examples/PDTwitterTest/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "ObjC/SocketRocket"]
	path = ObjC/SocketRocket
url=git://github.com/jbradforddillon/SocketRocket.git
